header {
    background-color: #fd5b3d;
    color: #ffffff;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: #196152;
}

main {
    padding: 16px
}

body main a {
    text-decoration: none;
    color: #467f42;
}

footer {
    background-color: #b5ce6c;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 25px;
    padding-right: 0px;
    font-size: 125%;
}


img {
    height: 200px;
}


nav {
    border-bottom: 1px solid #196152;
    padding: 16px;
    background-color: #fd5b3d;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* .grey_spreadsheet_even {
    display: table;
    Use table layout to auto-fit to content
    width: auto;
    Allow the list to adjust its width to content
} */

/* .grey_spreadsheet_even > :nth-child(even) {
    background-color: lightgrey;
} */
/* this was for an ordered list
*/

.grey_spreadsheet_even tr:nth-child(even) {
    background-color: lightgrey;
}

/* .grid-item {

} */
